* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: gray;
}

img {
  max-width: 100%;
  height: auto;
}

.container-master {
  max-width: 840px; /*A4 96PPI 794x1123*/
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 32px;
  font-weight: bold;
}

.role {
  font-size: 24px;
  font-weight: 300;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-left-style: solid;
  border-left-width: 3px;
  padding-left: 28px;
}

.ability {
  gap: 40px
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

#portrait {
  width: 100%;
  height: 100%;
}

.gap-3 {
  gap: 36px;
}

.gap-2 {
  gap: 8px;
}

.bg-red {
  background-color: red;
}

.text-label {
  font-size: 20px;
  font-weight: bold
}

.text-para {
  font-size: 16px;
  font-weight: 300
}

.text-semi-label {
  font-weight: 600
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 16px;
  background-color: black;
  position: sticky;
  top: 0;
}

a.nav {
  color: white
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 12px;
  font-size: 20px;
  padding: 16px 16px;
  background-color: black;
  color: white;
}

i {
  color: white;
}

ul {
  padding-left: 16px;
}

.container-portfolio {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 840px; /*A4 96PPI 794x1123*/
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.port-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}



@media only screen and (min-width: 750px) {
  #portrait {
    border-radius: 50%;
  }
  .profile {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    padding-left: 31px;
  }
  .name {
    font-size: 44px;
  }
  .role {
    font-size: 32px;
  }
  .ability {
    gap: 100px
  }
  .portfolio {
    flex-direction: row;
  }
  .container-portfolio {
    max-width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  .ability {
    flex-direction: column;
    gap: 0
  }
  .name {
    font-size: 24px;
  }
  .role {
    font-size: 18px;
  }
}